Main Worflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -176,
        -16
      ],
      "id": "13193517-20ac-4876-a134-35a0cc07c570",
      "name": "When chat message received",
      "webhookId": "b7d60492-ffc4-49a3-8302-c531cefbbceb"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful AI job assistant that helps to fetch and store data. Your role is to fetch 60 records which is stored with different attributes and convert them into clear, structured parameters like job title, location, work mode (remote, hybrid, onsite), job type (full-time, part-time, internship, etc.), etc..\n\nOnce you extract this information, pass it along in structured JSON format so that job listings can be fetched from multiple external job board scrapers and store it in the airtable database.\n\nSample output format:\n{\n  \"job_title\": \"Software Engineer Intern\",\n  \"company_name\": \"TechNova Solutions\",\n  \"location\": \"Bangalore, India\",\n  \"job_description\": \"We are looking for a passionate Software Engineering Intern to assist our development team in building scalable web applications. The role involves coding, testing, and collaborating with experienced engineers.\",\n  \"date_posted\": \"2025-08-06\",\n  \"employment_type\": \"Internship\",\n  \"salary\": \"₹20,000/month\",\n  \"experience_required\": \"0-1 years\",\n  \"job_url\": \"https://example.com/jobs/software-engineer-intern\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -16,
        -16
      ],
      "id": "2b050fbf-1844-4982-a75e-1f57c081c63d",
      "name": "AI Agent",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -144,
        208
      ],
      "id": "0914020f-2ac5-4660-9481-d0421dec34bd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "M3sT5x4oqyWiAoJa",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appPwlkrI5vPPp2ft",
          "mode": "list",
          "cachedResultName": "Job Listings",
          "cachedResultUrl": "https://airtable.com/appPwlkrI5vPPp2ft"
        },
        "table": {
          "__rl": true,
          "value": "tblX80BxXByxK4zLz",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appPwlkrI5vPPp2ft/tblX80BxXByxK4zLz"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Salary": "={{ $json.salary }}",
            "Experience Required": "={{ $json.experience_required }}",
            "id": "=",
            "Job Title": "={{ $json.job_title }}",
            "Company Name": "={{ $json.company_name }}",
            "Location": "={{ $json.location }}",
            "Job Description": "={{ $json.job_description }}",
            "Date Posted": "={{ $json.date_posted + 'T00:00:00Z' }}",
            "Employment type": "={{ $json.employment_type }}",
            "Job URL": "={{ $json.job_url }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Job Description",
              "displayName": "Job Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Posted",
              "displayName": "Date Posted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Employment type",
              "displayName": "Employment type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Salary",
              "displayName": "Salary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Experience Required",
              "displayName": "Experience Required",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Job URL",
              "displayName": "Job URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        432,
        -16
      ],
      "id": "1d47492b-6c18-4ba8-92c0-9a8b0b44d476",
      "name": "Create or update a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "ujDNWGWxaTxGccJG",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[{\n  \"job_title\": \"Software Engineer Intern\",\n  \"company_name\": \"TechNova Solutions\",\n  \"location\": \"Bangalore, India\",\n  \"job_description\": \"We are looking for a passionate Software Engineering Intern to assist our development team in building scalable web applications. The role involves coding, testing, and collaborating with experienced engineers.\",\n  \"date_posted\": \"2025-08-06\",\n  \"employment_type\": \"Internship\",\n  \"salary\": \"₹20,000/month\",\n  \"experience_required\": \"0-1 years\",\n  \"job_url\": \"https://example.com/jobs/software-engineer-intern\"\n},\n{\n  \"job_title\": \"Software Engineer Intern\",\n  \"company_name\": \"TechNova Solutions\",\n  \"location\": \"Bangalore, India\",\n  \"job_description\": \"We are looking for a passionate Software Engineering Intern to assist our development team in building scalable web applications. The role involves coding, testing, and collaborating with experienced engineers.\",\n  \"date_posted\": \"2025-08-06\",\n  \"employment_type\": \"Internship\",\n  \"salary\": \"₹20,000/month\",\n  \"experience_required\": \"0-1 years\",\n  \"job_url\": \"https://example.com/jobs/software-engineer-intern\"\n}]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        256,
        208
      ],
      "id": "1d4ef91d-28f8-408a-9f30-33f4833a70c6",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        272,
        -16
      ],
      "id": "13d3b52d-b374-49ab-8ea3-fcd0d4e6905c",
      "name": "Split Out"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        0,
        208
      ],
      "id": "dacde646-0596-4ea2-b4d1-1a56db4c068d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Call this tool to get 60 jobs scraped from three different Apify actors.\nAs the data is from three different scrapers the attributes names differ.\nFetch as the below sample and parse the output:\n{\n  \"job_title\": \"Software Engineer Intern\",\n  \"company_name\": \"TechNova Solutions\",\n  \"location\": \"Bangalore, India\",\n  \"job_description\": \"We are looking for a passionate Software Engineering Intern to assist our development team in building scalable web applications. The role involves coding, testing, and collaborating with experienced engineers.\",\n  \"date_posted\": \"2025-08-06\",\n  \"employment_type\": \"Internship\",\n  \"salary\": \"₹20,000/month\",\n  \"experience_required\": \"0-1 years\",\n  \"job_url\": \"https://example.com/jobs/software-engineer-intern\"\n}",
        "workflowId": {
          "__rl": true,
          "value": "ZrKYQ6ZhLBpkqF2m",
          "mode": "list",
          "cachedResultName": "My workflow 2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        128,
        208
      ],
      "id": "6ce95446-7d9e-4da8-b579-292be0df8514",
      "name": "Apify Scrapers"
    }
  ],
  "pinData": {
    "When chat message received": [
      {
        "json": {
          "sessionId": "cb32dad705544ffe89957e2c36369216",
          "action": "sendMessage",
          "chatInput": "Fetch and store 60 records into airtable"
        }
      }
    ]
  },
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Create or update a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Apify Scrapers": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a8062a81-c3ee-4981-8038-68c0775af8ae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1017c1be61f05c6dc1fb5830ad9730106c3f2b4d8ad1ea80f4658e23b764f05a"
  },
  "id": "0pxypiqHJnrPlbSa",
  "tags": []
}